{
    "parser": "babel-eslint",
    "extends": "airbnb",

    "ecmaFeatures": {
        "modules": true
    },

    "rules": {
        "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 1 }]
    }
}
